<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Login - FamiPlan')}"></head>
    <body class="bg-primary">
    <div class="flex max-w-2xl w-full flex-col gap-4 rounded-xl border border-white/30 bg-white/10 p-6 shadow-2xl backdrop-blur-sm">
        <h1 class="text-center text-3xl font-bold text-white">
            Bienvenue sur FamiPlan !
        </h1>
        <form th:action="@{/login}" method="post" class="flex flex-col gap-4">
            <input type="text"
                   name="username"
                   placeholder="Nom d'utilisateur"
                   class="rounded-xl border border-white/30 bg-white/20 px-4 py-2 text-white placeholder-white/60 outline-none"/>
            <input type="password"
                   name="password"
                   placeholder="Mot de passe"
                   class="rounded-xl border border-white/30 bg-white/20 px-4 py-2 text-white placeholder-white/60 outline-none"/>
            <button type="submit" class="btn-primary">Connexion</button>
        </form>
    </div>
    </body>
</html>